@page
@using RazorHotelDB25InClass.Models
@model RazorHotelDB25InClass.Pages.Rooms.DeleteModel
@{
    ViewData["Title"] = "Delete Room";
}

<h3>Delete Room</h3>

<a asp-page="GetAllRooms" asp-route-hotelNr="@Model.HotelNr" class="btn btn primary" style="color: white; background-color: gray; border-color: gray;">Back to Rooms</a>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Room.HotelNr" class="control-label"></label>
        <input asp-for="@Model.Room.HotelNr" style="display: br; width: 20%;" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Room.RoomNr" class="control-label"></label>
        <input asp-for="@Model.Room.RoomNr" style="display: br; width: 20%;" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Room.Types" class="control-label"></label>
        <input asp-for="@Model.Room.Types" style="display: br; width: 20%;" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Room.Pris" class="control-label"></label>
        <input asp-for="@Model.Room.Pris" style="display: br; width: 20%;" class="form-control" />
    </div>
    <span class="text-danger">@Model.MessageError</span>
    <div class="form-group">
        <input asp-for="@Model.Confirm" type="checkbox" id="Confirm" /> Confirm you wish to delete this hotel
    </div>
    <div class="formgroup">
        <input type="submit" value="Confirm" class="btn btn-primary" style="background-color: green; border-color: green;" />
    </div>
</form>